<div class="jumbotron">
    <h1 class="title">为你提供最合适的工作 !</h1>
    <p class="slogan">Hey Talent是一家专业的招聘网站。
    <br>
    在Hey Talent好工作不难找，让我们为你找寻到属于你的工作。
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">立即应征</a></p>
  </div>
  <section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww4.sinaimg.cn/large/006tKfTcgy1fc0p5wvryoj303k03kdfm.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>广州富力中心</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tKfTcgy1fc0p745yy9j303k03kdfl.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>heytalent@163.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww1.sinaimg.cn/large/006tKfTcjw1fc0p8hpfvbj303k03ka9y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-098765</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
